@import url(//fonts.googleapis.com/css?family=Open+Sans);

header {
    display: block;
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
  }
  #headerButtons {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .navButton {
    float: right;
  }
  footer {
    display: block;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
  }

.productBag:hover{
  right: 0;
  transition: 1s;
}

.productBag {
transition: 1s;
height: 100vh;
width: 500px;
background-color: #1b1a20;
right: -495px;
top: 0;
position: fixed;
overflow-y: auto;
z-index: 1000;
}

.productBag::-webkit-scrollbar {
  width: 5px;
}

.productBag::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.productBag::-webkit-scrollbar-thumb {
  background-color: #676769;
  outline: 1px solid #676769;
}

.productBag .title{
  margin: 0 auto;
  width: 140px;
  margin-top: 60px;
  margin-bottom: 30px;
  height: 50px;
  position: relative;
}

  .productBag .title>span {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding-left: 10px;
    position: absolute;
    top: 6px;
  }

  .productBag .title .productCount{
    margin: 0 auto;
    width: 140px;
    margin-top: 60px;
    margin-bottom: 30px;
    height: 50px;
    position: relative;
  }
  
  .productBag .title .productCount{ 
    margin: 0 auto;
    width: 15px;
    line-height: 14px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ebbd01;
    background: #ebbd01;
    top: 30px;
    left: 18px;
  }

  .productBag .title .productCount span {
    color: #1b1a20;
    text-align: center;
    font-size: 9px;
    font-weight: bolder;
    font-family: 'Open Sans';
    display: table;
    margin: 0 auto;
  }

.productBag .product{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 20px;
  overflow: hidden;
  padding: 10px;    
  position: relative;
}

.productBag .product:nth-child(n+2) {
  margin-top: -2px;
}

.productBag .product .pic{
  float: left;
  height: 50px;
  width: 50px;
  margin: 5px 5px;
}

.productBag .product .pic img{
  width: 55px;
  max-height: 55px;
}

.productBag .product .descp{
  float: left;
  width: 300px;
  overflow: hidden;
  margin-left: 10px;
  word-wrap: break-word;
}

.productBag .product .descp .name{
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.productBag .product .descp .info {
  width: 100%;
  padding: 5px 0;
  overflow: hidden;
}

.productBag .product .descp .info>span{
  float: left;
  width: 100%;
  color: #676769;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  margin: 1px 0;
}

.productBag .product .price{
  color: #ebbd01;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.productBag .product .delete{
  color: #000000;
  font-family: cursive;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  right: 15px;
  top: 5px;
}

.productBag .product .delete:hover{
  color: #ffffff;
  cursor: pointer;
}
  
  .strike *:not(.delete){
    text-decoration: line-through;
    transition: 1s;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  .productBag .totalizer{
    padding: 25px 35px; 
  }

  .productBag .totalizer>span{
    text-transform: uppercase;
    color: #676769;
    font-family: 'Open Sans';
    font-size: 15px;
  }

  .productBag .totalizer .right{
    float: right;
  }

  .productBag .totalizer .value{
    color: #ebbd01;
    font-family: 'Open Sans';
    font-size: 20px;
    float: right;
    width: 100%;
    text-align: right;
  }
  
  .productBag .totalizer .installments{
    text-transform: uppercase;
    color: #676769;
    font-family: 'Open Sans';
    font-size: 10px;
    float: right;
    width: 100%;
    text-align: right;
  }

  .productBag .buyButton{
    padding: 20px;
  }

  .productBag .buyButton button{
      width: 100%;
      height: 50px;
      background: #000;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Open Sans';
      font-weight: bolder;
      cursor: pointer;
    }

  .productBag .emptyBag{
    font-family: 'Open Sans';
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
  }

.showCase{
padding: 30px;
}

.showCase .product{
  width: 200px;
  height: 300px;
  display: inline-block;
  margin: 10px 20px;
  position: relative;
}

.showCase .product:hover{
  cursor: pointer;
}

.showCase .product .content.focusOff{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.showCase .product .addToBag{
  width: 100%;
  height: auto;
  position: absolute;
  top: 65px;
  display: none;
  z-index: 2;
}

.showCase .product .addToBag.visible{
  display: initial;
}

.showCase .product .addToBag .sizeSelector{
  width: 100%;
  text-align: center;
}

.showCase .product .addToBag .sizeSelector .size{
  width: 35px;
  height: 35px;
  border: 2px solid #1b1a20;
  margin: 0 2px;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Open Sans';
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
  background: #fff;
}

  .showCase .product .addToBag .sizeSelector .size:hover{
    background-color: #ebbd01;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: 0.2s;
  }

.showCase .product .productImg img {
  width: 170px;
  height: auto;
  margin: 0px 15px;
}

.showCase .product .productDescp{
  font-family: 'Open Sans';
  position: relative;
  height: 100px;
}

.showCase .product .productDescp .name{
  font-size: 14px;
  text-align: center;
  max-height: 40px;
  margin: 5px 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.showCase .product .productDescp .info{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.showCase .product .productDescp .info::before{
  content: "";
  position: absolute;
  border-top: 3px solid #ebbd01;
  width: 20px;    
  margin: 0 auto;
  left: 0;
  right: 0;
  display:block;
}

.showCase .product .productDescp .info .price{
  margin-top: 5px;
  text-align: center;
}

.showCase .product .productDescp .info .price .main{
  font-weight: bold;
  font-size: 25px;
}

.showCase .product .productDescp .info .installments{
  text-align: center;
  margin-top: -5px;
  color: #bababa;
  font-size: 14px;
  height: 20px;
}